<div class="col-md-12">
    <div class="row box">
      <div class="box-inner col-md-6 col-md-offset-3">
        <h1 class="title">在家兼职网</h1>
        <p class="slogan">只要你有技能，空闲的时间，也能把钱给挣了
        </p>
        <p class="lead">
          <%= link_to '马上应征', jobs_path, class: 'btn btn-danger' %>
        </p>
      </div>
    </div>
  </div>

  

    <section id="company">
      <div class = "container-fluid">
        <div class="row">
          <div class="col-sm-4 ">
            <div class="thumbnail">
              <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-43-31.png" alt="search" class = "img-thumbnail">
              <div class="caption">
                <h3>北京朝阳建外SOHO</h3>
              </div>
            </div>
          </div>
          <div class="col-sm-4 ">
            <div class="thumbnail">
              <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-43-48.png" alt="bid" class = "img-thumbnail">
              <div class="caption">
                <h3>info@koalajob.com</h3>
              </div>
            </div>
          </div>
          <div class="col-sm-4 ">
            <div class="thumbnail">
              <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-44-00.png" alt="heart" class = "img-thumbnail">
              <div class="caption">
                <h3>010-86869999</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
